
.join_section{
    width:calc(33.3333% - (20px / 2));
    .logo_section{
        img{
            width:200px;
            height:200px;
            
        }
    }
    .input_section{
        
    }
}